@charset "UTF-8";

/* Typical Device BreakPoints 

pequena: até 599px
médio: 600px-1023px
grande: 1024px-1439px
extra grande : 1440px ou mais

*/

@media screen and (min-width: 600px) and (max-width: 1023px) {

body {
    background: linear-gradient(135deg, var(--roxo-escuro), var(--lilas));
}

#login {
        width: 90vw;
        height: 600px;
        display: flex;/* usar flexbox */
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
    }

    #imagem {
        background-image: url(../imagens/undraw_shopping_a55o.png);
        float: left;
        width: 40%;
        background-position: center center;
        
    }

    img {
        display: none;
        
    }

    #formulario {
        float: right;
        width: 60%;
    }

    .campo {
        width: 80%; /* inputs menores e centralizados no formulário */
    }
}