@charset "UTF-8";

/* Typical Device BreakPoints 

pequena: até 599px
médio: 600px-1023px
grande: 1024px-1439px
extra grande : 1440px ou mais

*/

@media screen and (min-width: 600px) and (max-width: 1023px) {

body {
    background: linear-gradient(135deg, var(--roxo-escuro), var(--lilas));
}

#login {
        width: 90vw;
        height: 370px;
    }

    #imagem {

        background-image: url(../imagens/ilgmyzin-u0vXuq6iHdc-unsplash.jpg);
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px;
        
        
    }

    img {
        display: none;
        
    }

    #formulario {
        float: right;
        width: 70%;
    }

    .campo {
        width: 80%; /* inputs menores e centralizados no formulário */
    }
}

@media (orientation: landscape) and (max-width: 599px) {

    #login {
        width: 500px;
        height: 400px;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {

    body {
        background: linear-gradient(135deg, var(--roxo-escuro), var(--lilas));
        }

    #login {
            width: 940px;
            height: 410px;
    }

        #imagem {
            background-image: url(../imagens/ilgmyzin-u0vXuq6iHdc-unsplash.jpg);
            float: left;
            width: 50%;

            height: 100%;
            border-radius: 20px 0px 0px;
            
        }

        img {
            display: none;
        }

        #formulario {
            float: right;
            width: 50%;
        }

        #formulario p {
            font-size: 1.1rem;
            margin-bottom: 15px;
                

}
}

@media screen and (min-width: 1440px) {

    body {
        background: linear-gradient(135deg, var(--roxo-escuro), var(--lilas));
        }

    #login {
            width: 1240px;

    }

        #imagem {
            background-image: url(../imagens/ilgmyzin-u0vXuq6iHdc-unsplash.jpg);
            float: right;
            width: 50%;
            height: 100%;
            border-radius: 20px 0px 0px;
            
        }

        img {
            display: none;
        }

        #formulario {
            float: left;
            width: 50%;
        }

        #formulario p {
            font-size: 1.2rem;
            margin-bottom: 15px;

        
        }

        input[type="submit"] {
            display: block;
            width: 85%;
            margin: auto;
        }

        .botao {
            width: 30%;
            margin: auto;
        }


}

